div{
  font-family: Arial;
}

.container{
  width: 300px;
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(200,200,200);
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.notifications{
  background-color: rgb(49,109,254);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}