p{
  font-family: Arial;
  margin: 0;
}

.flexbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 15px;
}

.profile-text{
  width: 200px;
}

.name{
  font-weight: bold;
  margin-bottom: 4px;
}

.handle{
  color: rgb(150,150,150);
  margin-bottom:5px;
}

.category{
  color: rgb(150,150,150);
  font-size: 14px;
}

button{
  background-color: rgb(29,155,240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}