.flexbox13a{
  display: flex;
  height: 50px;
  flex-direction: row;
}
.column1{
  background-color: lightpink;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item1{
  background-color: black;
  color: white;
}

.column2{
  background-color: lightblue;
  width: 200px;
}

