.flexbox{
  display: flex;
  flex-direction: row;
  height: 50px;
}

.column1{
  background-color: lightpink;
  width: 100px;
}

.column2{
  background-color: lightblue;
  width: 200px;
}

.row2{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.row2-item{
  background-color: black;
  color: white;
}