div{
  font-family: Arial;
}

.container{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

.inbox-label{
  color: rgb(120, 120, 120);
  font-size: 14px;
  margin-bottom: 20px;
}

.email{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.sender-picture-container{
  margin-right: 10px;
}

.sender-picture{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.email-content{
  flex: 1;
}
.email-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.sender-name{
  font-weight: bold;
  font-size: 18px;
}

.send-time{
  color: rgb(120,120,120);
  font-size: 14px;
}

.subject{
  font-weight: bold;
  margin-bottom: 5px;
}

.message{
  color: rgb(120,120,120);
}


