div{
  font-family: Arial;
}

.tweet{
  display: flex;
  flex-direction: row;
  width: 420px;
  margin-top: 10px;
  margin-left: 20px;
}

.profile-picture-column{
  margin-right: 10px;
}

.profile-picture{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.tweet-column{
  flex: 1;
}

.tweet-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.tweet-author{
  font-weight: bold;
  margin-right: 5px;
}

.tweet-author-handle{
  color: rgb(111,111,111);
  cursor: pointer;
}

.tweet-content{
  line-height: 20px;
  margin-bottom: 15px;
}

.video-preview{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200,200,200);
  border-radius: 15px;
  overflow:hidden;
}

.thumbnail-column{
  background-color: rgb(220,220,220);
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.video-info-column{
  flex: 1;
}

.video-website{
  color: rgb(111,111,111);
  margin-bottom: 3px;
}

.video-title{
  line-height: 22px;
}