body{
  height: 3000px;

}

.sidebar{
  color: white;
  background-color: green;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  background-color: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 300px;
  border-radius: 5px;
    font-family: Arial;

}

.modal-title{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 12px;

}
.modal-text{
  margin-bottom: 12px;
}
