body{
  font-family: Arial;
  height: 3000px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.left-section{
  display: flex;
  align-items: center;
}

.profile-picture{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}

.profile-name{
  font-weight: bold;
}


.right-section{
  display: flex;
  flex-direction: row;
}

.add-friend-button{
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  margin-right: 3px;
  font-weight: bold;
  cursor: pointer;
}

.message-friend-button{
  background-color: rgb(230, 230, 230);
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}