body{
  height: 3000px;
  font-family: Arial;
}

.discord-channels-column{
  display: flex;
  flex-direction: column;
  width: 50px;
  background-color: rgb(33, 33, 33);
  width: 50px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  padding: 10px;

}
.discord-channel-picture{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
}

.discord-channel-info-column{
  position: fixed;
  top: 0;
  left: 70px;
  bottom: 0;
  background-color:rgb(55, 55, 55); 
  width: 150px;
  padding: 16px;
}

.info-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.info-title{
  color: white;
  font-size: 14px;
}

.new-page{
  color:rgb(150,150,150);
  font-size: 25px;
}

.info-page{
  color: rgb(150,150,150);
  margin-bottom: 15px;
}



