body{
  font-family: Arial;
  height: 3000px;
}

.dark-box{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 180px;
  background-color: rgb(131, 131, 131);
}

.close-button{
  background-color: black;
  color: white;
  position: absolute;
  top:-15px;
  left: -15px;
  font-size: 20px;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.time-stamp{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-right: 5px;
}