body{
  height: 3000px;
  font-family: Arial;
}

.product-container{
  position: relative;
  display: inline-block;
}

.product-image{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.promotion{
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: black;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}