.link{
  color: rgb(0,113,133);
}

.link:hover{
  color:rgb(246, 181, 52)
}

.nikepara{
  font-weight: bold;
  font-size: 24px;
}

.stock{
  color: rgb(0,118,0);
  font-weight: bold;
}

.cart-button{
  background-color:rgb(255,216,20);
  border: none;
  height: 30px;
  width: 105px;
  border-radius: 15px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.cart-button:hover{
  background-color: rgb(194, 161, 0);
}

.cart-button:active{
  opacity: 0.7;
}

.buy-button{
  background-color:rgb(255,164,28);
  border: none;
  height: 30px;
  width: 105px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.buy-button:hover{
  background-color:rgb(213, 128, 0);
}

.buy-button:active{
  opacity: 0.7;
}