/* 4g pagination*/
.back-button{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.next-button{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 4px;
  cursor: pointer;
}

.links{
  margin-right: 6px;
  
}
/* 4i 3d click*/
.shadow-button{
  background-color: green;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  color: white;
  font-weight:400;
  font-size: 15px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.shadow-button:active{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* 4j stretch*/
.stretch-button{
  background-color: green;
  border: none;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: padding 0.4s;
}

.stretch-button:hover{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* 4k marging padding*/
.stretch-button1{
  background-color: green;
  color: white;
  border: none;
  font-size: 18px;
  padding-top: 8px; padding-bottom : 8px ;
  cursor: pointer;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.stretch-button1:hover{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}
