p{
  margin-top: 0;
  margin-bottom: 0;
}
.tahoma-font{
  font-family: Tahoma;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px; 
}

.deals{
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.sales{
  font-family: Arial;
  font-style: italic;
  font-size: 20px;
  color: rgba(247, 65, 28, 0.997);
  font-weight: normal;
  margin-bottom: 30px;
}

.course{
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.beginner{
  font-family: Verdana;
  font-size: 16px;
  color: grey;
  margin-bottom: 18px;
}

.course-text{
  font-size: 16px;
  font-family: Verdana;
  width: 330px;
  margin-bottom: 18px;
}

.started-button{
  background-color: rgb(32, 122, 32);
  border: none;
  border-radius: 2px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-bottom: 30px;
}

.started-button:hover{
  opacity: 0.9;
}

.started-button:active{
  opacity: 0.7;
}

.shopping{
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  width:350px;
  text-align: center;
  margin-bottom: 8px;
}

.apple-work{
  font-size: 14px;
  font-weight: normal;
}

.more-link{
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  font-family: Arial;
  color: rgb(58, 108, 199);
  cursor: pointer;
}
.more-link:hover{
  text-decoration: underline;
}