p{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  text-align: center;
}
.new{
  color: rgb(204, 116, 0);
  font-weight: bold;
  margin-bottom: 10px;
}

.mac{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.super{
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 15px;
}

.price{
  margin-bottom: 25px;
}

.buy{
  background-color: rgb(0, 113, 227);
  color:white;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}