p{
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.fcc-org{
  font-weight: bold;
  margin-bottom: 8px;
}

.tag-time{
  font-weight: normal;
  color: rgb(100,100,100);
}

.dev-text{
  width:600px;
  line-height: 25px;
  margin-bottom: 20px;
}

.chp-guy{
  color: rgb(29, 155, 240);
  cursor: pointer;
}