.image7a{
  border-radius:12px;
  width: 200px;
}

.image7b{
  width: 200px;
  height: 200px;
  object-position: center;
  object-fit:cover;
}

.image7c{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}