p{
  font-family: Roboto;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-rounded{
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200,200,200);
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.search-noshadow{
  font-size: 14px;
  width: 400px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 1px 5px rgb(200,200,200);
  border-radius: 30px;
}
