p{
  margin-top: 0;
  margin-bottom: 0;
}

.title{
  font-family: Roboto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.email{
  font-family: Arial;
  color: rgb(100,100,100);
  font-size: 16px;
  margin-bottom: 8px;
}

.linkedin-mailbox{
  width: 250px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(100,100,100);
  border-radius: 8px;
  margin-bottom: 20px;

}

.linkedin-text{
  font-family: Arial;
  font-size: 14px;
  color: rgb(100,100,100);
  margin-bottom: 20px;
}

.linkedin-button{
  background-color: rgb(10, 102, 194);
  color: white;
  border:none;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.profile-pic{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  object-position: left;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.tweet{
  border:none;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
  border-radius: 30px;
  width: 300px;
}


.tweet-button{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition:  box-shadow 0.15s;
  vertical-align: middle;
}

.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

.tweet-button:active{
  opacity: 0.6;
}
