.title{
  font-family: Roboto;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20bx;
}

.name,
.email{
  display: block;
  margin-bottom: 5px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.support-text{
  font-family: 'Times New Roman';
  width: 200px;
  display: inline-block;
  vertical-align: middle
}

.google-logo{
  display: block;
  width: 200px;
  margin-left: 125px;
  margin-right: 10px;
}

.search-noshadow{
  font-size: 14px;
  width: 400px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 1px 5px rgb(200,200,200);
  border-radius: 30px;
}

