.friend-add{
  width: 200px;
  border: solid;
  border-width: 1px;
  border-color: rgb(200,200,200);
  box-shadow: 0px 1px 5px rgb(200,200,200);
  font-family: Arial;
  border-radius: 5px;
  vertical-align: top;

}

.friend-add1{
  width:200px;
  border: solid;
  border-width: 1px;
  border-color: rgb(200,200,200);
  box-shadow: 0px 1px 5px rgb(200,200,200);
  font-family: Arial;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.friend-grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 10px;
  row-gap: 20px;
}

.profile-photo{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.name{
  margin-top: 0;
  font-weight: bold;
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}

.mutuals{
  margin-left: 10px;
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}
.mutual-friends-pic{
  width: 25px;
  height: 25px;
  border-radius: 13px;
  object-fit: cover;
  vertical-align: middle;
}
.mutual-count{
  margin-top: 0;
  font-size: 12px;
  color: rgb(100,100,100);
  padding-left: 5px;
  padding-top: 4px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
}

.add-button{
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom:5px;
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

