div{
  text-align: center;
}

.google-logo{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text{
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
  margin-bottom:30px ;
}

.google-button{
  background-color: rgb(245,245,245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.google-button:hover{
  opacity: 0.7;
}

.search-button{
  margin-right: 10px;
}